/* =CUSTOMIZE
------------------------------------------------------- */

/* Graduation Rate Percentage */
.scale .percentage
{
    /* Max Value: 85%; */

    /*
    Treat 85% as 100% to calculate the appropriate values. In other words, if
    you wanted to set this value to 71%, you would use the following formula:
    (71 * 85)/100 = 60.35%
    */

    margin-left: 60%;
}

/* Loan Default Rate Bar Charts */

/*
When adjusting these charts, both the "padding-top" and "height" values below
must equal "3.875em". Increasing the "padding-top" will push down on the
chart, while decreasing the value will pull up on the chart. In either case,
you will also need to adjust the "height" to re-align the chart.
*/

/* Loan Default Rate Bar Chart: Institution */
.bar-chart-institution
{
    padding-top: 0.75em;
}

.bar-chart-institution .bar
{
    height: 3.125em;
}

/* Loan Default Rate Bar Chart: National */
.bar-chart-national
{
    padding-top: 0;
}

.bar-chart-national .bar
{
    height: 3.875em;
}

@-ms-viewport
{
  width: device-width;
}

/* =RESET
------------------------------------------------------- */

html, body, h1, table, ul
{
  margin: 0;
  padding: 0;
}

/* =CLEARFIXES
------------------------------------------------------- */

.pane, .option-list, .sidebar-info, .scale, .modal .header
{
  overflow: auto;
}

/* =GLOBAL
------------------------------------------------------- */

html, body
{
  font-family: Arial, sans-serif;
}

a
{
  color: #000;
}

p
{
  margin: 0.5em 0;
}

/* =STRUCTURE
------------------------------------------------------- */

#container
{
  font-size: 1em;
  margin: 0.5em;
  overflow: auto;
  position: relative;
}

.footer
{
  clear: both;
}

/* =HEADER
------------------------------------------------------- */

h1
{
  font-size: 1.125em;
  font-weight: normal;
  margin: 0;
  padding: 0.625em 0 0 0;
}

.logo
{
  float: left;
  margin-right: 0.625em;
}

.name
{
  font-size: 0.6875em;
  font-weight: bold;
}

.date
{
  float: right;
  font-size: 0.5625em;
  font-weight: bold;
}

.download-btn
{
  background: #FFF url(../images/download.gif) no-repeat 0.75em;
  border-radius: 0.4em;
  color: #555;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1.1em;
  padding: 0.4em 0.5em 0.4em 2.27em;
  text-decoration: none;
}

.download-btn:hover
{
  background-image: url(../images/download_hover.gif);
  color: #D07236;
}

#download-xml
{
  visibility: hidden;
}

#header
{
  padding: 0.6875em 1.3125em 0.9em 1.25em;
  margin-bottom: 0.9375em;
}

.title-wrapper
{
  margin: 0.4em 0 0.8em 0;
}

/* =PANES
------------------------------------------------------- */

.pane
{
    background-color: #436689;
    color: #FFF;
    border-radius: 0.3125em;
    margin-bottom: 0.625em;
    padding: 0.1875em;
}

.inner-pane
{
    background: #FFF;
    border-radius: 0.3125em;
    color: #000;
    padding: 0.625em 1em 0.5em 0.5625em;
}

.info-pane
{
    background: #FFF;
    border: 1px solid #42678B;
    color: #000;
    min-height: 3.125em;
    padding: 0.5em;
}

.info-pane p
{
  font-size: 0.6875em;
  line-height: 2em;
}

h2
{
    color: #42678B;
    font-size: 0.9375em;
    margin-bottom: 0.4375em;
    margin-left: 0.625em;
}

h3
{
  font-size: 0.8125em;
}

.pane h2, .pane h3
{
    color: #FFF;
    margin: 0.5em 0.85em 0.6em;
}

.pane h2
{
  font-size: 0.8125em;
}

.footnote
{
    font-size: 0.5625em;
}

.option-list
{
    border-top: 1px dashed #436689;
    font-weight: normal;
    margin: 0;
    padding: 0.625em 0 0 0.75em;
    zoom: 1; /* IE hasLayout bug fix */
}

.option-list li
{
  font-size: 0.6875em;
  margin: 0 0 0.3125em 3%;
}

.efc-summary .amount
{
    width: auto;
}

.efc-summary .footnote
{
    font-weight: normal;
    padding: 0 0.625em 1em 1em;
}

/* =TABLES
------------------------------------------------------- */

table
{
    margin-bottom: 0.125em;
    width: 100%;
}

th
{
    font-size: 0.75em;
    text-align: left;
    padding-bottom: 0.25em;
}

td
{
    background: url(../images/dot.gif) repeat-x 0.625em 0.8125em;
    padding: 0;
    vertical-align: top;
}

td.amount
{
    padding: 0 0 0 1.25em;
}

table tr:first-child td.amount
{
    padding: 0 0 0 0.3125em;
}

td.amount .sign
{
    padding-right: 0.5625em;
}

th.amount, .highlight td.amount
{
  font-size: 0.75em;
  text-align: right;
}

.amount
{
    background-image: none;
    width: 30%;
}

td.amount
{
  font-size: 0.6875em;
}

.amount-title
{
    background: #FFF;
    font-size: 0.6875em;
    padding: 0 0.1875em 0 0;
}

.over-time
{
    font-size: 0.72em;
    font-weight: normal;
}

.desc
{
  display: block;
  font-size: 0.75em;
  font-weight: normal;
}

.highlight .inner-pane
{
    color: #42678B;
    font-weight: bold;
}

.highlight .inner-pane .amount-title
{
    display: block;
}

.highlight td
{
    background-image: none;
    font-size: 1.45em;
    padding: 0;
}

.highlight .desc
{
    display: block;
    font-size: 0.388em;
    font-weight: normal;
}

.highlight .amount-title, table.list .amount-title
{
    padding-left: 0;
}

.highlight .amount
{
    font-size: 1.1em;
}

.efc-summary .inner-pane
{
    color: #000;
    padding: 0;
}

.efc-summary td, .efc-summary table tr:first-child td.amount
{
    padding: 0.625em;
}

.efc-summary td
{
    font-size: 1em;
}

.efc-summary td .amount-title
{
    font-size: 0.75em;
}

.efc-summary .desc
{
    font-size: 0.5625em;
}

/* =SIDEBAR
------------------------------------------------------- */

#sidebar-wrapper
{
    float: right;
    font-size: 0.975em;
    line-height: 1.2;
}

#sidebar
{
    background: #437278;
    color: #FFF;
    overflow: hidden; /* IE margin bug fix */
    padding: 0.3125em;
}

#sidebar h2
{
    color: #FFF;
    font-size: 0.75em;
    margin: 0;
    text-decoration: underline;
}

.sidebar-info-wrapper
{
    clear: both;
    padding: 0.625em 0.3125em;
    zoom: 1; /* IE hasLayout fix */
}

.sidebar-info
{
    background-repeat: no-repeat;
    margin: 0.4375em;
    zoom: 1; /* IE hasLayout fix */
}

.info-grad-rate .sidebar-info
{
    background-image: url(../images/icon_hat.png);
    background-position: top right;
}

.info-grad-rate .sidebar-content
{
    width: 70%;
}

.info-loan-rate
{
    border: 1px dotted #A1B9BC;
    border-width: 1px 0;
}

.info-loan-rate .sidebar-info
{
    background-image: url(../images/icon_percentage.png);
}

.info-loan-rate .sidebar-content
{
    float: left;
    margin-left: 4.3em;
    width: 65%;
}

.info-median-borrowing .sidebar-info
{
    background-image: url(../images/icon_dollar.png);
    background-position: top right;
}

.info-median-borrowing .sidebar-content
{
    width: 70%;
}

#sidebar-wrapper .info-pane h2
{
    color: #42768B;
    font-size: 0.75em;
    margin-left: 0;
    text-decoration: underline;
}

.address p
{
    line-height: 1.5em;
}

.address-title
{
    font-weight: bold;
}

#sidebar-wrapper .address h2
{
    font-size: 0.6875em;
}

.sidebar-content p
{
  font-size: 0.6875em;
}

/* =CHARTS
------------------------------------------------------- */

.percentage
{
    background: url(../images/percentage_back.png) no-repeat;
    display: block;
    font-size: 0.5625em;
    font-weight: bold;
    height: 2.8em;
    margin-bottom: 0.125em;
    padding-top: 0.6em;
    text-align: center;
    width: 3.3em;
}

.scale ol
{
    list-style: none;
    margin: 0 0 0.625em 0;
    padding: 0;
    width: 100%;
}

.scale li
{
    background: #FFF;
    color: #436689;
    float: left;
    font-size: 0.5625em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding: 0.7em 0;
    text-align: center;
    width: 32.9%;
}

.scale li.first
{
    -moz-border-radius: 0.3125em 0 0 0.3125em;
    -webkit-border-radius: 0.3125em 0 0 0.3125em;
    border-radius: 0.3125em 0 0 0.3125em;
    margin-right: 1px;
}

.scale li.last
{
    -moz-border-radius: 0 0.3125em 0.3125em 0;
    -webkit-border-radius: 0 0.3125em 0.3125em 0;
    border-radius: 0 0.3125em 0.3125em 0;
    margin-left: 1px;
}

.bar-chart-wrapper
{
    clear: both;
    padding-top: 0.9375em;
}

.bar-chart
{
    float: left;
    margin: 0 7.5%;
    width: 35%;
    display: inline; /* IE double margin bug fix */
}

.bar-chart .title
{
    border-top: 1px solid #FFF;
    display: block;
    font-size: 0.5625em;
    padding-top: 0.3125em;
    text-align: center;
}

.bar-chart .percentage
{
    font-weight: bold;
    margin: 0 auto;
}

.bar-chart .bar
{
    background: #FFF;
    -moz-border-radius: 0.1875em 0.1875em 0 0;
    -webkit-border-radius: 0.1875em 0.1875em 0 0;
    border-radius: 0.1875em 0.1875em 0 0;
    display: block;
    margin: 0.1875em auto 0;
    width: 3.125em;
}

.bar-chart-national .percentage
{
  background-image: url(../images/percentage_back_alt.png);
	color: #000;
}

.bar-chart-national .bar
{
    background: none;
    border: 0.125em solid #FFF;
    border-bottom-width: 0;
    width: 2.875em;
}

/* =MODAL
------------------------------------------------------- */

.modal-wrapper
{
    display: none;
    position: absolute;
    top: 1%;
    width: 100%;
}

.modal
{
    background: #FFF;
    border: 0.1875em solid #000;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
    -moz-box-shadow: 0 0 1.875em #20374F;
    -webkit-box-shadow: 0 0 1.875em #20374F;
    box-shadow: 0 0 1.875em #20374F;
    margin: 0 auto;
    padding: 0.625em;
    width: 80%;
    max-width: 30em;
}

.modal .header
{
    margin-bottom: 0.625em;
    zoom: 1; /* IE width bug fix */
}

.modal h2
{
    float: left;
    font-size: 1em;
    margin: 0;
    padding: 0.1875em 0 0 0.1875em;
}

.modal .close
{
    background: #436689;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
    color: #FFF;
    float: right;
    font-size: 1em;
    font-weight: bold;
    padding: 0.1875em 0.3125em 0.0625em;
    text-decoration: none;
}

#modal-download-xml textarea
{
    border: 1px solid #CCC;
    height: 31.25em;
    width: 100%;
}

/* =GLOSSARY
------------------------------------------------------- */

dt
{
  display: block;
  font-size: 0.75em;
	font-weight: bold;
	padding-right: 0.3em;
}

dd
{
  font-size: 0.6875em;
	margin: 0 0 1em 0;
}

/* =RESPONSIVE
------------------------------------------------------- */

@media (min-width: 25em)
{
  .download-btn
  {
    float: right;
  }

  .bar-chart
  {
      margin: 0 15%;
      width: 20%;
  }
}

@media (min-width: 51.875em)
{
  #container
  {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
  }

  #main
  {
    float: left;
    width: 69.625%;
  }

  #sidebar-wrapper
  {
    float: right;
    width: 28.5%;
  }

  .option-list li
  {
    float: left;
    width: 45%;
  }

  .desc
  {
    display: inline;
  }

  .title-wrapper
  {
    margin: 0.4em 0 0 0;
  }

  .amount-title
  {
      padding: 0 0.1875em 0 2em;
  }

  dt
  {
  	float: left;
    margin-bottom: -1em;
  }

  .bar-chart
  {
      margin: 0 7.5%;
      width: 35%;
  }
}

/* =PRINT
------------------------------------------------------- */

@media print
{
    .download-btn
    {
        display: none !important;
    }
}
